



.color-card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s;

    &__text {
        font-family: "IBM Plex Mono", monospace;
        font-size: 11px;
        margin-bottom: 20px;
        color: #333;
    }
}

.color-wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    cursor: pointer;
}


.box-with-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-size: 20px;
    padding-bottom: 10px;
    background-color: white;
    line-height: 1.4;

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        width: 100%;

    }

    .img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .text-end {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 11px;

        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;

        img {
            border-radius: 50%;
            width: 30px;
            background-color: rgb(202, 247, 76);
        }

        p {
            margin-left: 5px;
        }
    }
}