.footer {
    width: 100%;
    padding: 20px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
    font-family: 'IBM Plex Mono', monospace;

    &__copy {
        margin-left: 30px;
        margin-top: 5px;
        color: rgb(48, 48, 48);
        font-size: 12px;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        margin-right: 25px;
    }

    &__social,
    &__email {
        width: 200px;
        background-color: #efefef;
        color: rgb(48, 48, 48);
        font-size: 11px;
        padding: 12px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        margin-left: 10px;

        &:hover {
            background-color: #e6e3e3;
            transform: scale(1.05);
            color: #333;

        }
    }
}
