@use './../variables.scss' as variables;

.column--right {
    @include variables.column-flexbox();
    margin-top: 20px;
    .boxes-right {
        @include variables.column-flexbox();
        .box-big {
            @include variables.box-common(18px, bold, #e6f7ff, center);
            img {
                max-width: 100%;
            }
        }

        .box-video {
            @include variables.box-common(11px, normal, white, left);
            align-items: stretch;

            .text-start {
                padding: 5px;
                align-items: center;
                flex-direction: column;
                display: flex;
            }

            .gif img {
                width: 100%;
                height: 100%;
            }

            .tags {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                z-index: 1;
                background-color: rgb(233 232 226);
                padding: 5px;
                border-radius: 0 0 8px 8px;
                cursor: pointer;
            }

            .text-tag {
                position: absolute;
                z-index: 10;
                bottom: 0px;
            }

            .tag {
                padding: 5px 12px;
                border-radius: 20px;
                margin: 5px;
                color: rgb(48, 48, 48);
                background-color: rgb(187, 187, 187);
            }

            .video iframe {
                width: 100%;
                height: 350px;
            }

            .text-end {
                font-size: 11px;
                margin-left: 5px;
                margin-right: 12px;
                padding: 5px;
            }
        }
    }
}
